requests
argparse
certifi==2019.11.28
colorama
openpyxl
packaging
pandocfilters
parso 
pbkdf2
better-proxy==1.1.5
websockets==12.0
websockets_proxy==0.1.2
loguru
pexpect
phonenumbers
pickleshare
piexif
pillow
ping3
platformdirs
portend
aiohttp
preshed
prompt_toolkit
proto-plus
protobuf
